@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }

  h1 {
    @apply text-xl font-semibold tracking-tight;
  }

  h2 {
    @apply text-lg font-semibold tracking-tight;
  }

  h3 {
    @apply text-base font-semibold;
  }

  p {
    @apply text-sm text-slate-600;
  }
}
